<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.PostgreSQL" version="7.3.146" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="linq2db" version="1.0.2" targetFramework="net45" />
  <package id="linq2db.PostgreSQL" version="1.0.2" targetFramework="net45" />
  <package id="linq2db.t4models" version="1.0.4" targetFramework="net45" />
  <package id="Mariuzzo.DO.DataAnnotations" version="13.2.27.0" targetFramework="net45" />
  <package id="Npgsql" version="2.1.3" targetFramework="net45" />
  <package id="Npgsql.EntityFramework" version="2.1.3" targetFramework="net45" />
</packages>